---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
  <p>Velkommen til Hagensen Software.</p>
	<p>
		Vi er et mindre software hus, som brænder for software produkter af høj kvalitet. 
		Vi deltager i udvikling af løsninger med anvendelse af moderne teknologier og arkitekturprincipper for at sikre stabile og skalerbare løsninger med fokus på at omkostninger til udvikling, vedligehold og drift til enhver tid ligger på det rette niveau i forhold til kundernes og produkternes økonomi.
	</p>
	<p>
		Vi rådgiver vores kunder om moderne software arkitektur og har gode erfaringer med at gå aktivt ind i at etablere en attraktiv arkitektur og design for en ny eller eksisterende løsning.
		I samarbejde med kunden og evt. tredjepart software firma, kan vi konstruere det nødvendige framework for en ny løsning, nye elementer i en eksisterende løsning eller en trinvis overgang fra en eksisterende løsning til en forbedret og moderne arkitektur.
	</p>
	<p>
		Vi foretrækker at udvikle produkter i samarbejde med kunder og brugere med udgangspunkt i kundernes specifikke behov.
		På baggrund af de specifikke behov deltager vi i design og udvikling af produkter som både dækker de funktionelle og tekniske behov, og som kan skaleres i takt med kundens behov og økonomi.
	</p>
	<p>
		Vi indgår således gerne i et agilt samarbejde om et produkt i et omfang der passer netop til jeres behov.
	</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
